.footer_Div {
  background-color: black;
  padding: 100px;
  margin-top: 120px;
  color: white;
  font-family: "Manrope", sans-serif;
}
.white_logo {
  height: 70px;
  margin-bottom: 40px;
}
.footer_input {
  border: 1px solid white;
  height: 50px;
  width: 300px;
  font-family: "Manrope", sans-serif;
  padding-left: 10px;
  background-color: black;
}
.submit_btn {
  background-color: white !important;
  width: 90px;
  font-size: 18px;
  color: black !important;
  font-family: "Manrope", sans-serif;
}
.foooter_add{
    font-size: 28px;
    font-family: "Cormorant Garamond", serif;

}