@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
.exclusive_listings {
  margin-top: 150px;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  line-height: 85px;
  margin-bottom: 100px;
}
.properties_des {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px !important;
  margin-left: 50px;
}
.property_name {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 20px;
}
.property_location {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.properties_des_header {
  font-family: "Syncopate", sans-serif;
  font-size: 37px;
}
.share_icon {
  height: 35px !important;
  margin-top: 5px;
  width: 35px !important;
}
.prop_deb {
  font-size: 17px;
}
.property_price {
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.listing_property {
  height: 400px;
  width: 85%;
}
.listing_details {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; /* Prevent tiling if image is smaller */
}
.darken-background {
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.793); /* Adjust opacity for darkness */
  /* Optional: Set a blend mode to avoid contrast issues */
  mix-blend-mode: multiply;
}
.gallery {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  margin-bottom: 30px;
}
.prop_name {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 140px;
  color: white;
}
.propert_gallery {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
}
.grid_images {
  padding-top: 50px;
  height: 400px;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat; /* Prevent tiling if image is smaller */
  width: 400px; /* Set desired width for the div */
}
.eye {
  opacity: 0;
}
.grid_images:hover {
  padding-top: 50px;

  height: 400px;
  filter: brightness(0.8);
  background-size: contain;
  background-repeat: no-repeat; /* Prevent tiling if image is smaller */

  width: 400px; /* Set desired width for the div */
}
.grid_images:hover .eye {
  opacity: 1;
}
.prop_form {
  background-color: black;
  width: 500px;
  color: white;
  padding: 50px;
  height: 90vh;
  padding-bottom: 100px !important;
}

.line {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.582);
}
.line_2 {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid white;
}
.status_button {
  background-color: #373737;
  margin-top: 20px;
  width: 140px;
  height: 50px;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
}
.form_price {
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
  margin-top: 20px;
}
.kum_banner {
  margin-right: 40px;
  height: 550px;
}
.form_input {
  height: 50px;
  width: 100%;
  background-color: black;
  border: 1px solid white;
  margin-top: 15px;
  padding-left: 10px;
}
.form_input::placeholder {
  margin-left: 20px;
}
.interest {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.call {
  margin-top: 50px;
  width: 200px;
  color: black !important;
  height: 59px;
  background-color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.prop_head {
  font-family: "Syncopate", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.amarachi {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  line-height: 85px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .listing_property {
    height: 250px;
  }
}

@media only screen and (max-width: 770px) {
  .properties_des_header {
    font-family: "Syncopate", sans-serif;
    font-size: 30px;
  }
  
  .listing_property {
    height: 550px;
    width: 500px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .prop_det_info {
    margin-left: 100px;
  }
  .property_price {
    font-family: "Syncopate", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  .property_location {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .properties_des {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px !important;
  }
  .amarachi {
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    line-height: 65px;
    margin-bottom: 30px;
  }
  .eye_icon {
    height: 30px;
  }
  .share_icon {
    height: 40px !important;
    margin-top: 5px;
  }
  .properties_des_header {
    font-family: "Syncopate", sans-serif;
    font-size: 26px;
  }
}

@media only screen and (max-width: 490px) {
  .properties_des_header {
    font-family: "Syncopate", sans-serif;
    font-size: 26px;
  }
  
  .exclusive_listings {
    margin-top: 150px;
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    line-height: 55px;
    margin-bottom: 100px;
  }

  .listing_property {
    height: 400px;
    width: 400px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .prop_det_info {
    margin-left: 0px;
  }
  .properties_des {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px !important;
    margin-left: 0px;
    margin-top: 10px;
  }
  .share_icon {
    height: 30px !important;
    margin-top: 5px;
    width: 30px !important;
  }
}
